extends layout

block content

  h1 Item: #{item.name}

  p Description: #{item.description}

  p Price: #{item.price}

  hr
  p
    a(href=item.url+'/delete') Delete item
  p
    a(href=item.url+'/update') Update item
